/* header-menu.component.css */
nav{
  width: 100%;
}
.mobile-version ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;  
  width:300px;
}

.mobile-version li {
  width:80%;
  flex: 1;
  text-align: center;
  margin: 0 .5rem;
}

.mobile-version a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #9a9a9a;
  font-size: 12px;
  padding: 8px 0;
}

.mobile-version mat-icon {
  font-size: 24px;
  margin-bottom: 4px;
}

.mobile-version mat-icon {
  font-size: 24px;
  margin-bottom: 4px;
}
.mobile-version span {
  font-size: .8rem;
  font-weight: 700;
}
.hide-on-mobile {
  display: none;
}

/* Estado activo */
a.active {
  color: var(--color_btn_primary);
}

a.active mat-icon {
  color: var(--color_btn_primary);
}
a.active span{
  color: var(--color_btn_primary);
}



.nav__menu {
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
  padding: 0.5rem;
}

.nav__icon {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.nav__name {
  font-size: var(--tiny-font-size);
  color:#000;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .mobile-version ul {
  width: 80%;
  border:1px solid red;
}
  .nav__list {
    justify-content: center;
    gap: 2rem;
  }
  
  .nav__link {
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .nav__name {
    font-size: var(--normal-font-size);
  }
  
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
}