.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap; 
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px; 
}

.nav-btn {
  border-radius: 4px;
  width: auto;
  height: 2.5em;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}

@media (max-width: 768px) {
  .menu {
    align-items: center;
  }

  .nav-menu {
    justify-content: center; 
  }

  .nav-buttons {
    justify-content: center;
    width: 100%;
  }
}
