<header class="header">
  <mat-toolbar class="toolbar">
      <div class="logo-container">
          <img [src]="imgLogo" class="logo" alt="Logo">
          <shared-search-input class="search-bar"></shared-search-input>
      </div>

      <div class="menu-container" [ngClass]="{'active': menuOpen}">
          <shared-header-menu [menuItems]="menuItems"></shared-header-menu>

          <div *ngIf="(authStateService.isAuthenticated$ | async) === true; else showLoginButtons" class="user-menu">
            <span class="user_name">¡Hola, {{ userService.userName$ | async }}!</span>
            <button mat-button [matMenuTriggerFor]="userMenu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
          </div>

          <ng-template #showLoginButtons>
              <div class="option_user">
                  <shared-log-btn (click)="openLogin()">
                      Iniciar Sesión
                  </shared-log-btn>
                  <shared-register-btn (click)="openRegister()">
                      Registrarse
                  </shared-register-btn>
              </div>
          </ng-template>

          <mat-menu #userMenu="matMenu">
              <app-user-menu></app-user-menu>
          </mat-menu>
      </div>

      <button class="menu-toggle" (click)="toggleMenu()">
          <i class="bi bi-list"></i>
      </button>
  </mat-toolbar>
</header>