.crear-curso-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
}

.crear-curso-card {
  width: 600px;
  padding: 16px;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
