<div class="container_modal">
    <button mat-button class="close-button-modal" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
    <div class="content_modal">
        <div class="container_img_modal">
            <img [src]="imageUrl" class="img_modal" alt="imagen">
        </div>

        <div class="form_modal">
            <mat-dialog-content>
                <div class="title_modal">
                    <div class="container_icon">
                        <img [src]="iconUrl" class="icon-modal" alt="logo">
                    </div>
                    <span class="present">
                        <h2 mat-dialog-title>{{ data.title }}</h2>
                        <p>Impulsa tu proyecto hacia el éxito. Inicia sesión para acceder a tu panel.</p>
                    </span>
                </div>

            </mat-dialog-content>
            <form [formGroup]="loginForm">
                <div mat-dialog-content class="content">
                    <div class="group_form">
                        <span class="container-label">
                            <mat-icon>mail</mat-icon>
                            <label for="">Email</label>
                        </span>
                        <mat-form-field class="example-full-width">
                            <input type="email" class="input" matInput formControlName="email"
                                placeholder="ej. pat@example.com">
                            <ng-container
                                *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
                                <mat-error>Please enter a valid email address</mat-error>
                            </ng-container>
                            
                        </mat-form-field>
                        
                    </div>

                    <div class="group_form">
                        <span class="container-label">
                            <mat-icon>key</mat-icon>
                            <label for="">Password</label>
                        </span>
                        <mat-form-field class="example-full-width">
                            <input type="password" class="input" matInput formControlName="password">
                            <ng-container
                                *ngIf="loginForm.controls['password'].hasError('password') && !loginForm.controls['password'].hasError('required')">
                                <mat-error>Please enter a valid password</mat-error>
                            </ng-container>
                        </mat-form-field>
                        
                        <a href="" class="msj_pass">¿Olvidaste la contraseña?</a>
                    </div>
                </div>
                <div class="footer_modal">
                    <mat-dialog-actions align-items="end">
                        <app-custom-button text="INICIAR SESIÓN" [className]="'customBtnLogin'"
                            (action)="onSubmit()"></app-custom-button>
                    </mat-dialog-actions>
                    <div class="buttom_group">
                        <button mat-button class="btn_social" title="Google">
                           <img [src]="iconSocialG" alt="google">
                        </button>
                        <button mat-button class="btn_social" title="Facebook">
                            <img [src]="iconSocialF" alt="Facebook">
                         </button>
                         <button mat-button class="btn_social" title="Social">
                            <img [src]="iconSocialA" alt="Apple">
                         </button>
                    </div>
                    <p>¿No tienes una cuenta?
                        <a href="" class="msj_reg">Regístrate</a>
                    </p>
                </div>

            </form>
        </div>
    </div>





</div>