<section class="container">
  <h2>Encuentra nuevos cursos</h2>
  <mat-divider></mat-divider>
  <div class="content">
    <section class="filter">
      <h5>Ordenar por:</h5>
      <shared-filter (priceSelected)="onPriceSelected($event)" (orderSelected)="onOrderSelected($event)"></shared-filter>
    </section>
    <shared-categories (categorySelected)="onCategorySelected($event.categoryId, $event.selected)"></shared-categories>
    <shared-courses-list class="courses" [courses]="courses"></shared-courses-list>
    <shared-pagination class="pagination"></shared-pagination>
  </div>
</section>
