.hero-container{
  width: 100vw;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.container_carrousel{
  width:100%;
  height:240px;
}
.carousel_photo{
  min-width: 100vw;
  height:100%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  color: white;
}
.carousel-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(245, 104, 13, .2), rgba(0, 59, 117,1) 80%);
  z-index: 1;
}
.carousel-caption > h1{
  color:white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.carousel-caption > p{
  color:white;
  font-size: .6rem;
  text-align: center;
  font-weight: bold;
}
.custon_btn{
  background: transparent;
  width:100px;
  color:white;
  border:1px solid white;
}
.carousel-control-prev[_ngcontent-ng-c1062828629], 
.carousel-control-next[_ngcontent-ng-c1062828629] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
}
.carousel-control-prev,
.carousel-control-next {
  color:white;
  position: absolute;
  z-index: 900; 
}

.carousel-control-next[_ngcontent-ng-c1062828629]{
  right:8%;
  top: 40%;
}
.carousel-control-prev[_ngcontent-ng-c1062828629]{
  left:4%;
  top: 40%;
} 

.carousel-control-next {
  right: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-container{
    width: 100vw;
    height: 440px;
  }
  .carousel-control-prev[_ngcontent-ng-c1062828629], 
.carousel-control-next[_ngcontent-ng-c1062828629] {
  top: 80%;
}
.carousel-item:not(:first-child)::before {
  height:500px;
  width: 100%;
}


}


@media (min-width: 1024px) {
  .hero-container{
    width: 100vw;
    min-height:100vh;
  } 
  .carousel-inner {
    min-width: 100vw;
    min-height: 100vh;
  }
  .carousel-item {
    height: 100vh;
  }
  .carousel-caption{
    width: 50%;
    bottom: 40%;
  }
  .carousel-caption > h1{
    font-size: 2.5rem;
  }
  .carousel-caption > p{
    font-size: 1rem;
  }
  .carousel-control-prev[_ngcontent-ng-c1062828629], 
.carousel-control-next[_ngcontent-ng-c1062828629] {
  transform: translateY(40%);
  width: 50px;
  height: 50px;
}
.carousel-control-next[_ngcontent-ng-c1062828629]{
  right:5%;
  top: 90%;
}
.carousel-control-prev[_ngcontent-ng-c1062828629]{
  left:5%;
  top: 90%;
} 
}

@media only screen and (min-width : 1824px) {
  .hero-container{
    height:100%;
  }
  .carousel-caption{
    width: 50%;
    bottom: 40%;
  }
  .carousel-caption > h1{
    font-size: 2.5rem;
  }
  .carousel-caption > p{
    font-size: 1rem;
  }

}