<section class="hero-container" aria-label="Hero Section">
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" aria-label="Hero Carousel">
    <div class="carousel-inner">
      <div *ngFor= "let course of courses; let i = index" class="carousel-item" [ngClass]="{'active':i ===0}">
        <img 
          [src]="course.image_url" 
          class="d-block w-100" 
          [alt]="course.title || 'Imagen del curso'" 
          [title]="course.title || 'Curso'"
        >
        <div class="carousel-caption">
          <h1>{{ course.title }}</h1>
          <button class="btn btn-primary custon_btn" (click)="goToCourseDetail(course.id)">Ver curso</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev" aria-label="Previous">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next" aria-label="Next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
