<section class="hero-container" aria-label="Hero Section">
  
  <div class="container_carrousel" data-aos="zoom-in-up">
    <div id="carouselExampleFade" class="carousel slide carousel-fade carousel_photo" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img 
          [src]="imgInfo"
          class="d-block w-100" 
          alt="Imagen local"
        >
      </div>

      <div *ngFor="let course of courses; let i = index" class="carousel-item">
        <img 
          [src]="course.safe_image_url" 
          class="d-block w-100" 
          [alt]="course.title || 'Imagen del curso'" 
          [title]="course.title || 'Curso'"
          (click)="goToCourseDetail(course.id)"
          style="cursor: pointer;"
        >
        <div class="carousel-caption">
          <h1>{{ course.title }}</h1>
          <p>{{ course.description }}</p>
          <button class="btn btn-primary custon_btn" (click)="goToCourseDetail(course.id, $event)">Ver curso</button>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>
</section>
