.form-control {
  flex: 1;
  width: 100px;
  min-width: 150px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .input-group{
    display: 300px;
  }
  .form-control {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .input-group{
    width: 100%;
  }
  .form-control {
    width: 180px;
  }
}
