<div class="main-container">

  <div class="course-header" [ngClass]="{ 'unavailable': isQuotaZero }" style="background-image: url('/assets/images/portada.webp')">
    <div class="info-portada">
    <h2 class="title">{{ course?.title }}</h2>
      <span class="tag">Nuevo</span>
      <span class="students">👥 {{ inscriptionCount }}</span>
      <span class="teacher">👨‍🏫 Profesor: {{ course?.teacherName || 'No asignado' }}</span>
    </div>
    <div class="course-status"[ngClass]="{ 'unavailable': isQuotaZero }">
      {{ isQuotaZero ? 'Sin cupos' : 'Disponible' }}
    </div>
  </div>


  <div class="page-container">
    <div class="course-info">
      <p class="info"><strong>📖 Descripción:</strong> {{ course?.description }}</p>
      <p class="info"><strong>⏳ Duración:</strong> {{ course?.hours }} horas</p>
      <p class="info"><strong>📅 Fecha inicio:</strong> {{ course?.startDate }}</p>
      <p class="info"><strong>📅 Fecha fin:</strong> {{ course?.endDate }}</p>
      <p class="info"><strong>🎯 Modalidad:</strong> {{ course?.modalidad }}</p>
      <p class="info"><strong>📖 Categoría:</strong> {{ course?.categoryTitle || 'Sin categoría' }}</p>

      <div class="price-container">
        <p class="price">
          <strong>💰 Precio:</strong> ${{ course?.price }}
        </p>
      </div>
      
      <div class="payment-methods-section">
        <h3 class="payment-title">Medios de Pago</h3>
        <div class="payment-methods">
          <div class="payment-icon">
            <img src="assets/images/mp/MP1.webp" alt="Mercado Pago">
          </div>
          <div class="payment-icon">
            <img src="assets/images/mp/MP2.webp" alt="Visa">
          </div>
          <div class="payment-icon">
            <img src="assets/images/mp/MP3.webp" alt="Mastercard">
          </div>
          <div class="payment-icon">
            <img src="assets/images/mp/MP4.webp" alt="Rapipago">
          </div>
          <div class="payment-icon">
            <img src="assets/images/mp/MP5.webp" alt="Efectivo">
          </div>
          <div class="payment-icon">
            <img src="assets/images/mp/MP6.webp" alt="Otro método">
          </div>
        </div>
      </div>
      <button mat-button color="accent" class="home-button animate-scale" (click)="goHome()">Volver al Home</button>
    </div>


    <mat-card class="floating-card">
      <img [src]="course?.image_url" alt="Imagen del curso" class="course-thumbnail">
      <button mat-raised-button [ngClass]="{ 'warning': isLowQuota }" 
      class="start-button" (click)="isQuotaZero ? goCourses() : verificarInscripcion()">
        {{ isQuotaZero ? 'Ver otros cursos' : 'Empezar curso' }}
      </button>


      <div *ngIf="isLowQuota" class="last-places-warning">
        🔥 ¡Quedan los últimos lugares de inscripción!
      </div>

      <div class="course-includes">
        <p>✅ Certificado de finalización</p>
        <p>📥 Material descargable</p>
      </div>
    </mat-card>

</div>
