.cards-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
}

.courses-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 30px auto;
}

.section-title {
  font-size: 2rem;
  color: #3f51b5;
  margin-bottom: 1rem;
  text-align: center;
}

.courses-grid {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.view-all-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
}

.view-all-button {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.values-container {
  text-align: center;
  margin-top: 40px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.value {
  text-align: center;
  padding: 20px;
}

.value img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.testimonials-container,
.news-container {
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .courses-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 1.5rem;
  }
}

.news-container,
.values-container {
  /* max-width: 80%;
  margin: 0 auto;
  padding: 20px; */
}

.testimonials-container > *,
.news-container > * {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
