<div class="content">
  <landing-page-hero></landing-page-hero>
  <div class="courses-container">
    <h2 class="section-title">Cursos destacados</h2>

    <section class="courses-grid">
      <!-- Skeletons cuando carga -->
      <ng-container *ngIf="loading; else loadedContent">
        <app-card *ngFor="let i of [1, 2, 3]" [loading]="true"></app-card>
      </ng-container>
      <!-- Contenido cuando termina de cargar -->
      <ng-template #loadedContent>
        <app-card
          *ngFor="let course of courses | slice : 0 : 6; let i = index"
          [title]="course.title"
          [category]="getCategoryTitle(course.category_id)"
          [description]="course.description"
          [image]="course.image_url!"
          (actionClick)="goToCourse(course.id ?? 0)"
        >
        </app-card>
      </ng-template>
    </section>
    <div class="view-all-container">
      <button
        mat-raised-button
        color="primary"
        class="view-all-button"
        (click)="goToAllCourses()"
      >
        Ver todos los cursos
      </button>
    </div>

    <div class="news-container">
      <h2 class="section-title">Noticias destacadas</h2>
      <section class="news-grid">
        <app-article
          *ngFor="let article of articles | slice : 0 : 3; let i = index"
          [article]="article"
          (actionClick)="goToArticle(article.id)"
        >
        </app-article>
      </section>
    </div>
  </div>
  <div class="values-container">
    <h2 class="section-title">¿Cómo somos?</h2>
    <div class="values-grid">
      <div class="value" *ngFor="let value of values">
        <img [src]="value.icon" alt="{{ value.title }}" />
        <h3>{{ value.title }}</h3>
        <p>{{ value.content }}</p>
      </div>
    </div>
  </div>
</div>
