.footer-container {
  position: relative; 
  bottom: 0;
  width: 100%;
  background: linear-gradient(45deg, #1C39BB, #F7863E); 
  padding: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
}

.swiper-container {
  width: 100%; 
  padding: 20px 0; 
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
}
.swiper-pagination{
  display: none;
}
.logo-slide {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 150px;
  background: #8f8e8e10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

.swiper-button-prev, 
.swiper-button-next {
  color: transparent;
  background: transparent !important;
}

.title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.08);
  padding: 5px 0;
  border-radius: 0 0 15px 15px;
}

.swiper-pagination {
  bottom: 10px;
}

.footer-title {
  margin: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  font-weight: bold;
  color: #fff8f8;
  margin-bottom: 20px;
}

.footer-contact {
  margin-top: 20px;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem); 
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff8f8;;
}

.contact-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff8f8;
}

.contact-info p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  margin: 10px 0;
  color: #fff8f8;
}

.contact-info .icon {
  font-size: 24px;
  margin-right: 10px;
  color: #F7863E;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  
}

.social-icons img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s, opacity 0.3s;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-icons img:hover {
  transform: scale(1.2);
  opacity: 0.8;
  border: 1px solid #1C39BB;
  transition: transform 0.3s, opacity 0.3s;
}

html, body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}


@media (min-width: 1024px) {
  .swiper-slide {
    margin: 0 1rem;
    height: auto;
    width: 150px;
  }
}
