<form>
  <mat-form-field>
    <mat-label>Selecciona</mat-label>
    <mat-select (selectionChange)="onOrderSelected($event.value)">
      <option value="" selected></option>
      @for (order of orders; track order) {
        <mat-option [value]="order.value">{{order.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Selecciona</mat-label>
    <mat-select (selectionChange)="onFilterSelected($event.value)">
      <option value="" selected></option>
      @for (price of prices; track price) {
        <mat-option [value]="price.value">{{price.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>

