<div class="dashboard-container">
  <h1 *ngIf="(userService?.userName$ | async) as userName">¡Embarquémonos en un camino de aventura, {{userName}}!</h1>
  <div class="dashboard-cards">
    <mat-card *ngFor="let card of dashboardCards" class="dashboard-card" [style.border-color]="card.color">
      <mat-card-content>
        <div class="card-content">
          <div class="card-info">
            <h2>{{card.title}}</h2>
            <p class="card-value">{{card.value}}</p>
          </div>
          <mat-icon [style.color]="card.color" class="icon">{{card.icon}}</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="calendar-attendance-container">
    <div class="feature-card calendar-card">
      <div class="card-header">
        <div class="header-icon">
          <mat-icon>event</mat-icon>
        </div>
        <h2>Calendario de Clases</h2>
      </div>
      <div class="card-body">
        <div class="calendar-container animated-container">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
    </div>

    <div class="feature-card attendance-card">
      <div class="card-header">
        <div class="header-icon">
          <mat-icon>insights</mat-icon>
        </div>
        <h2>Asistencia</h2>
        <div class="header-actions">
          <button mat-icon-button color="primary" (click)="actualizarGraficoAsistencia()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="select-course">
          <label for="courseSelect">Selecciona un curso:</label>
          <select (change)="cambiarCurso($event)">
            <option *ngFor="let curso of cursosInscritos" [value]="curso.id">
              {{ curso.title }}
            </option>
          </select>                
        </div>
        <div class="attendance-content">
          <div class="attendance-chart-container animated-container">
            <canvas #chartCanvas></canvas>
          </div>
          <div class="attendance-summary">
            <div class="stat-circle">
              <div class="stat-circle-inner">
                <span class="stat-value">{{porcentajeAsistencia}}%</span>
                <span class="stat-label">Asistencia</span>
              </div>
            </div>
            <div class="attendance-detail">
              <div class="attendance-detail-item">
                <mat-icon>check_circle</mat-icon>
                <div class="detail-text">
                  <span class="detail-value">{{clasesAsistidas}}</span>
                  <span class="detail-label">Clases asistidas</span>
                </div>
              </div>
              <div class="attendance-detail-item">
                <mat-icon>lightbulb_circle</mat-icon>
                <div class="detail-text">
                  <span class="detail-value">{{totalClases}}</span>
                  <span class="detail-label">Clases totales</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button mat-button color="primary" (click)="goAssist()">Ver detalles completos</button>
      </div>
    </div>
  </div>
</div>