<div class="student-profile-layout">
  <div class="mobile-overlay" [class.active]="!isCollapsed && isMobile" (click)="toggleSidenav()"></div>

  <aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <img class="student-icon" src="/assets/images/icon_gral.webp" alt="Icono estudiante">
      <h2 *ngIf="!isCollapsed">Perfil Estudiante</h2>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ isCollapsed ? 'menu' : 'chevron_left' }}</mat-icon>
      </button>
    </div>

    <nav class="sidebar-nav">
      <a routerLink="/perfil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item" (click)="closeSidenavOnMobile()">
      <mat-icon>home</mat-icon>
      <span *ngIf="!isCollapsed">Home</span>
      </a>

      <a routerLink="/perfil/mis-cursos" routerLinkActive="active" class="nav-item" (click)="closeSidenavOnMobile()">
        <mat-icon>school</mat-icon>
        <span *ngIf="!isCollapsed">Mis cursos</span>
      </a>
      <a routerLink="/perfil/pagos" routerLinkActive="active" class="nav-item" (click)="closeSidenavOnMobile()">
        <mat-icon>paid</mat-icon>
        <span *ngIf="!isCollapsed">Pagos</span>
      </a>
      <a [routerLink]="['/perfil/certificates', studentId]" routerLinkActive="active" class="nav-item">
        <mat-icon>workspace_premium</mat-icon>
        <span *ngIf="!isCollapsed">Certificados</span>
      </a>
      <a routerLink="/perfil/editar" routerLinkActive="active" class="nav-item">
        <mat-icon>edit</mat-icon>
        <span *ngIf="!isCollapsed">Editar perfil</span>
      </a>
    </nav>
  </aside>


  <main class="main-content" [class.collapsed]="isCollapsed">
    <ng-container *ngIf="isStudent; else errorMessage">
      <router-outlet></router-outlet>
    </ng-container>

    <ng-template #errorMessage>
      <p>No tienes permiso para acceder a esta sección.</p>
    </ng-template>
  </main>
  
  <button mat-icon-button class="mobile-menu-btn" *ngIf="isMobile" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</div>
