<div *ngIf="courses.length === 0 && !loading" class="no-courses">
  <p>No hay cursos disponibles</p>
</div>

<!-- Skeleton mientras carga -->
<div class="courses-grid" *ngIf="loading">
  <app-card *ngFor="let i of [1, 2, 3, 4, 5, 6]" [loading]="true"></app-card>
</div>

<div class="courses-grid" *ngIf="!loading">
  <app-card
    *ngFor="let course of courses"
    [title]="course.title"
    [category]="getCategoryTitle(course.category_id!)"
    [description]="course.description"
    [image]="course.image_url!"
    [modalidad]="course.modalidad ?? ''"
    [loading]="false"
    [showFavoriteIcon]="false"
    (actionClick)="goToCourse(course.id ?? 0)"
  >
  </app-card>
</div>
