/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*------------------------ style font    --------------------------*/
    --color_font_primary:  rgb(0, 0, 0);
    --color_placeholder: rgba(0, 0, 0, 0.569);
    --color_font_light:rgb(255, 255, 255);
    /*------------------------ style buttom   --------------------------*/
    --color_btn_primary: rgb(0, 92, 187);
    --color_btn_primary_hover: rgb(0, 59, 117);
    --color_btn_accent: rgb(245, 104, 13);
    --color_btn_accent_hover: rgb(185, 79, 8);
    

    --header-height: 4rem;
    /*========== Colors ==========*/
    --hue: 174;
    --sat: 63%;
    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: #faf9fd;
    --container-color: #FFF;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100vh;
    position: relative;
    font-family:  "Roboto", serif;
}
main{
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
    width: 100%;
}
main::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
  }
  
/*-------------------------  general style   -------------------------*/


/*estilo de botones*/
.customBtn{
    width: 108px;
    height: 20px;
    display: flex;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    border:1px solid var(--color_btn_primary);
    color: var(--color_btn_primary);
}
.customBtn2{
    width: 108px;
    height: 20px;
    display: flex;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    background: var(--color_btn_accent);
    color: var(--color_font_light);
}
.customBtn:hover{
    background:var( --color_btn_primary_hover);
    color: var(--color_font_light);
}

.customBtnLogin {
    width: 200px;
    height: 35px;
    padding: 20px 0px !important;
    border-radius: 8px !important;
    justify-content: center;
    align-items: center;
    background: var(--color_btn_primary) !important;
    color: white !important;
}


.title-student{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start;
    font-size: 1.8rem;
    font-weight: 600;
    color: #403a3a;
    margin: 5px;
    line-height: 1.2; 
    gap: 0.5rem;
}

 .title-student mat-icon{
    color: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;       
    height: 28px;      
    overflow: visible;
    font-size: 28px;  
    line-height: normal; 
 }

